openapi: 3.0.2
info:
  version: 1.0.0
  contact:
    name: TerraFrame
    url: test
    email: test
  title: GeoPrism Registry REST API
  x-logo:
    url: ./cgr_logo.png
  description: |
    The GeoPrism Registry API provides programatic access to core functionality.
externalDocs:
  description: User documentation
  url: 'https://terraframe-inc.gitbook.io/geoprism-registry-documentation/'
tags:
  - name: Organization
    description: Operations to interact with Organization definitions.
  - name: Geo-Object Type
    description: Operations to interact with Geo-Object Types.
  - name: Hierarchy
    description: Operations to interact with Hierarchical relationship type definitions.
  - name: Directed Acyclic Graph
    description: Operations to interact with Directed Acyclic Graph Type definitions.
  - name: Undirected Graph
    description: Operations to interact with Undirected Graph Type definitions.
  - name: Geo-Object
    description: >-
      Operations to interact with Geo-Objects. A Geo-Object represents the most
      current version of the object while Geo-Object-Over-Time has values for
      all available time ranges.
  - name: Geo-Object-Over-Time
    description: >-
      Operations to interact with Geo-Objects-Over-Time. A Geo-Object represents
      the most current version of the object while Geo-Object-Over-Time has
      values for all available time ranges.
  - name: Geo-Object Type
    description: Operations to interact with Geo-Object Types.
  - name: Hierarchy
    description: Operations to interact with hierarchies.
  - name: List
    description: Operations to interact with Lists.
  - name: ETL
    description: Operations for bulk importing data.
  - name: Publish Graph
    description: Operations for publishing and pulling graph data.
servers:
  - url: 'https://demo-georegistry.geoprism.net/'
paths:
  /api/geoobject/get:
    $ref: paths/api@geoobject@get.yaml
  /api/geoobject/update:
    $ref: paths/api@geoobject@update.yaml
  /api/geoobject/create:
    $ref: paths/api@geoobject@create.yaml
  /api/geoobject/newGeoObjectInstance:
    $ref: paths/api@geoobject@newGeoObjectInstance.yaml
  /api/geoobject/get-code:
    $ref: paths/api@geoobject@get-code.yaml
  /api/geoobject/getchildren:
    $ref: paths/api@geoobject@getchildren.yaml
  /api/geoobject/get-parent-geoobjects:
    $ref: paths/api@geoobject@get-parent-geoobjects.yaml
  /api/geoobject/addchild:
    $ref: paths/api@geoobject@addchild.yaml
  /api/geoobject/removechild:
    $ref: paths/api@geoobject@removechild.yaml
  /api/geoobject/get-uids:
    $ref: paths/api@geoobject@get-uids.yaml
  /api/geoobject-time/get-code:
    $ref: paths/api@geoobject-time@get-code.yaml
  /api/geoobject-time/update:
    $ref: paths/api@geoobject-time@update.yaml
  /api/geoobject-time/create:
    $ref: paths/api@geoobject-time@create.yaml
  /api/geoobject-editor/createGeoObject:
    $ref: paths/api@geoobject-editor@createGeoObject.yaml
  /api/geoobjecttype/get-all:
    $ref: paths/api@geoobjecttype@get-all.yaml
  /api/cgr/import-types:
    $ref: paths/api@cgr@import-types.yaml
  /api/hierarchytype/get-all:
    $ref: paths/api@hierarchytype@get-all.yaml
  /api/list-type/data:
    $ref: paths/api@list-type@data.yaml
  /api/list-type/list-for-type:
    $ref: paths/api@list-type@list-for-type.yaml
  /api/list-type/entries:
    $ref: paths/api@list-type@entries.yaml
  /api/list-type/version:
    $ref: paths/api@list-type@version.yaml
  /api/etl/import-edge-json:
    $ref: paths/api@etl@import-edge-json.yaml
  /api/directed-graph-type/get-all:
    $ref: paths/api@directed-graph-type@get-all.yaml
  /api/directed-graph-type/create:
    $ref: paths/api@directed-graph-type@create.yaml
  /api/directed-graph-type/update:
    $ref: paths/api@directed-graph-type@update.yaml
  /api/directed-graph-type/remove:
    $ref: paths/api@directed-graph-type@remove.yaml
  /api/directed-graph-type/get:
    $ref: paths/api@directed-graph-type@get.yaml
  /api/undirected-graph-type/get-all:
    $ref: paths/api@undirected-graph-type@get-all.yaml
  /api/undirected-graph-type/create:
    $ref: paths/api@undirected-graph-type@create.yaml
  /api/undirected-graph-type/update:
    $ref: paths/api@undirected-graph-type@update.yaml
  /api/undirected-graph-type/remove:
    $ref: paths/api@undirected-graph-type@remove.yaml
  /api/undirected-graph-type/get:
    $ref: paths/api@undirected-graph-type@get.yaml
  /api/organization/get-all:
    $ref: paths/api@organization@get-all.yaml
  /api/orgainization/create:
    $ref: paths/api@orgainization@create.yaml
  /api/orgainization/update:
    $ref: paths/api@orgainization@update.yaml
  /api/orgainization/delete:
    $ref: paths/api@orgainization@delete.yaml
  /api/geoobject/get-all:
    $ref: paths/api@geoobject@get-all.yaml
  /api/dag/get-children:
    $ref: paths/api@dag@get-children.yaml
  /api/dag/get-parents:
    $ref: paths/api@dag@get-parents.yaml
  /api/dag/add-child:
    $ref: paths/api@dag@add-child.yaml
  /api/dag/remove-child:
    $ref: paths/api@dag@remove-child.yaml
  /api/undirected/get-related-geo-objects:
    $ref: paths/api@undirected@get-related-geo-objects.yaml
  /api/undirected/add-target:
    $ref: paths/api@undirected@add-target.yaml
  /api/undirected/remove-target:
    $ref: paths/api@undirected@remove-target.yaml
  /api/publish/create:
    $ref: paths/api@publish@create.yaml
  /api/publish/create-new-version:
    $ref: paths/api@publish@create-new-version.yaml
  /api/publish/post-get-conflicts:
    $ref: paths/api@publish@post-get-conflicts.yaml
  /api/publish/pull:
    $ref: paths/api@publish@pull.yaml
  /api/publish/get-all:
    $ref: paths/api@publish@get-all.yaml
  /api/publish/get:
    $ref: paths/api@publish@get.yaml
  /api/commit/get-all:
    $ref: paths/api@commit@get-all.yaml
  /api/commit/get-latest:
    $ref: paths/api@commit@get-latest.yaml
  /api/commit/get-dependencies:
    $ref: paths/api@commit@get-dependencies.yaml
  /api/commit/business-types:
    $ref: paths/api@commit@business-types.yaml
  /api/commit/geo-object-types:
    $ref: paths/api@commit@geo-object-types.yaml
  /api/commit/hierarchy-types:
    $ref: paths/api@commit@hierarchy-types.yaml
  /api/commit/directed-acyclic-graph-types:
    $ref: paths/api@commit@directed-acyclic-graph-types.yaml
  /api/commit/undirected-graph-types:
    $ref: paths/api@commit@undirected-graph-types.yaml
components:
  securitySchemes:
    Basic Authentication:
      type: http
      scheme: basic
      description: >-
        GeoPrism Registry uses basic authentication over HTTPS. To authenticate
        against the API you must include a base64 encoded hash in the request
        header. A simple way to create the hash is to encode the username and
        password of an existing user as username:password using a tool like
        https://www.base64encode.org/.
security:
  - Basic Authentication:
      - Super Registry Administrator
      - (organization) Registry Administrator
      - (geoobjecttype) Registry Maintainer
      - (geoobjecttype) Registry Contributor
