openapi: 3.0.2
info:
  version: 1.0.0
  license:
    name: GPL
    url: 'https://opensource.org/licenses/gpl-license'
  contact:
    name: TerraFrame
    url: https://www.terraframe.com/
    email: info@terraframe.com
  title: GeoPrism Registry REST API
  x-logo:
    url: ./cgr_logo.png
  description: |
    The GeoPrism Registry API provides programatic access to core functionality.
externalDocs:
  description: User documentation
  url: 'https://terraframe-inc.gitbook.io/geoprism-registry-documentation'
tags:
  - name: Organization
    description: Operations to interact with Organization definitions.
  - name: Geo-Object Type
    description: Operations to interact with Geo-Object Types.
  - name: Hierarchy
    description: Operations to interact with Hierarchical relationship type definitions.
  - name: Directed Acyclic Graph
    description: Operations to interact with Directed Acyclic Graph Type definitions.
  - name: Undirected Graph
    description: Operations to interact with Undirected Graph Type definitions.
  - name: Geo-Object
    description: >-
      Operations to interact with Geo-Objects. A Geo-Object represents the most
      current version of the object while Geo-Object-Over-Time has values for
      all available time ranges.
  - name: Geo-Object-Over-Time
    description: >-
      Operations to interact with Geo-Objects-Over-Time. A Geo-Object represents
      the most current version of the object while Geo-Object-Over-Time has
      values for all available time ranges.
  - name: Geo-Object Type
    description: Operations to interact with Geo-Object Types.
  - name: Hierarchy
    description: Operations to interact with hierarchies.
  - name: List
    description: Operations to interact with Lists.
  - name: ETL
    description: Operations for bulk importing data.
  - name: Publish Graph
    description: Operations for publishing and pulling graph data.
servers:
  - url: 'https://demo-georegistry.geoprism.net'
paths:
  # Geo-Object
  /api/geoobject/get:
    $ref: paths/api@geoobject@get.yaml
  /api/geoobject/get-all:
    $ref: paths/api@geoobject@get-all.yaml
  /api/geoobject/put:
    $ref: paths/api@geoobject@put.yaml
  /api/geoobject/post:
    $ref: paths/api@geoobject@post.yaml
  /api/geoobject/newGeoObjectInstance:
    $ref: paths/api@geoobject@post-empty.yaml
  /api/geoobject/get-code:
    $ref: paths/api@geoobject@get-code.yaml
  /api/geoobject/getchildren:
    $ref: paths/api@geoobject@getchildren.yaml
  /api/geoobject/get-parent-geoobjects:
    $ref: paths/api@geoobject@get-parent-geoobjects.yaml
  /api/geoobject/addchild:
    $ref: paths/api@geoobject@post-add-child.yaml
  /api/geoobject/post-remove-child:
    $ref: paths/api@geoobject@post-remove-child.yaml
  /api/geoobject/get-uids:
    $ref: paths/api@geoobject@get-uids.yaml

  # Geo-Object Time
  /api/geoobject-time/get-code:
    $ref: paths/api@geoobject-time@get-code.yaml
  /api/geoobject-time/post-create-geo-object:
    $ref: paths/api@geoobject-time@post-create-geo-object.yaml
  /api/geoobject-time/post-create:
    $ref: paths/api@geoobject-time@post-create.yaml
  /api/geoobject-time/update:
    $ref: paths/api@geoobject-time@post-update.yaml


  /api/geoobject-editor/createGeoObject:
    $ref: paths/api@geoobject-time@post-create-geo-object.yaml

  # Geo-Object Type
  /api/geoobjecttype/get-all:
    $ref: paths/api@geoobjecttype@get-all.yaml

  # Importer
  /api/cgr/import-types:
    $ref: paths/api@geoobjecttype@import-types.yaml

  # Hierarchy
  /api/hierarchytype/get-all:
    $ref: paths/api@hierarchytype@get-all.yaml

  # List
  /api/list-type/data:
    $ref: paths/api@list@data.yaml

  # List Type
  /api/list-type/list-for-type:
    $ref: paths/api@list@list-for-type.yaml
  /api/list-type/entries:
    $ref: paths/api@list-type@entries.yaml
  /api/list-type/version:
    $ref: paths/api@list@version.yaml

  # Edges
  /api/etl/import-edge-json:
    $ref: paths/api@etl@import-edge-json.yaml

  # DAG
  /api/directed-graph-type/get-all:
    $ref: paths/api@directed-graph-type@get-all.yaml
  /api/directed-graph-type/create:
    $ref: paths/api@directed-graph-type@create.yaml
  /api/directed-graph-type/update:
    $ref: paths/api@directed-graph-type@update.yaml
  /api/directed-graph-type/remove:
    $ref: paths/api@directed-graph-type@remove.yaml
  /api/directed-graph-type/get:
    $ref: paths/api@directed-graph-type@get.yaml
  /api/dag/get-graph-children:
    $ref: paths/api@dag@get-graph-children.yaml
  /api/dag/get-parents:
    $ref: paths/api@dag@get-parents.yaml
  /api/dag/add-child:
    $ref: paths/api@dag@add-child.yaml
  /api/dag/remove-child:
    $ref: paths/api@dag@remove-child.yaml

  # UDAG
  /api/undirected-graph-type/get-all:
    $ref: paths/api@undirected-graph-type@get-all.yaml
  /api/undirected-graph-type/create:
    $ref: paths/api@undirected-graph-type@create.yaml
  /api/undirected-graph-type/update:
    $ref: paths/api@undirected-graph-type@update.yaml
  /api/undirected-graph-type/remove:
    $ref: paths/api@undirected-graph-type@remove.yaml
  /api/undirected-graph-type/get:
    $ref: paths/api@undirected-graph-type@get.yaml

  /api/undirected/get-related-geo-objects:
    $ref: paths/api@undirected@get-related-geo-objects.yaml
  /api/undirected/add-target:
    $ref: paths/api@undirected@post-add-target.yaml
  /api/undirected/remove-target:
    $ref: paths/api@undirected@post-remove-target.yaml

  # Organization
  /api/organization/get-all:
    $ref: paths/api@organization@get-all.yaml
  /api/orgainization/create:
    $ref: paths/api@orgainization@post-create.yaml
  /api/orgainization/update:
    $ref: paths/api@orgainization@post-update.yaml
  /api/orgainization/delete:
    $ref: paths/api@orgainization@post-delete.yaml

  # 
  /api/publish/create:
    $ref: paths/publish/post-create.yaml
  /api/publish/create-new-version:
    $ref: paths/publish/post-create-new-version.yaml
  /api/publish/post-get-conflicts:
    $ref: paths/publish/post-get-conflicts.yaml
  /api/publish/pull:
    $ref: paths/publish/post-pull.yaml
  /api/publish/get-all:
    $ref: paths/publish/get-get-all.yaml
  /api/publish/get:
    $ref: paths/publish/get-get.yaml
  /api/commit/get-all:
    $ref: paths/publish/get-get-all.yaml
  /api/commit/get-latest:
    $ref: paths/commit/get-get-latest.yaml
  /api/commit/get-dependencies:
    $ref: paths/commit/get-get-dependencies.yaml
  /api/commit/business-types:
    $ref: paths/commit/get-business-types.yaml
  /api/commit/geo-object-types:
    $ref: paths/commit/get-geo-object-types.yaml
  /api/commit/hierarchy-types:
    $ref: paths/commit/get-hierarchy-types.yaml
  /api/commit/directed-acyclic-graph-types:
    $ref: paths/commit/get-directed-acyclic-graph-types.yaml
  /api/commit/undirected-graph-types:
    $ref: paths/commit/get-undirected-graph-types.yaml
components:
  securitySchemes:
    Basic Authentication:
      type: http
      scheme: basic
      description: >-
        GeoPrism Registry uses basic authentication over HTTPS. To authenticate
        against the API you must include a base64 encoded hash in the request
        header. A simple way to create the hash is to encode the username and
        password of an existing user as username:password using a tool like
        https://www.base64encode.org/.
security:
  - Basic Authentication:
      - Super Registry Administrator
      - (organization) Registry Administrator
      - (geoobjecttype) Registry Maintainer
      - (geoobjecttype) Registry Contributor
