openapi: 3.0.2
info:
  version: 1.0.0
  title: GeoPrism Registry REST API
  # termsOfService: 'https://example.com/terms/'
  contact:
    name: Contact
    email: info@terraframe.com
    url: '/'
  license:
    name: GPL
    url: 'https://opensource.org/licenses/gpl-license'
  x-logo:
    url: './cgr_logo.png'
  description: >
    The GeoPrism Registry API provides programatic access to key functionality.
externalDocs:
  description: Learn more about the GeoPrism Registry Specification.
  url: 'https://github.com/terraframe/common-geo-registry-specification'
tags:
  - name: Organization
    description: Operations to interact with Organization definitions in the CGR.        
  - name: Geo-Object Type
    description: Operations to interact with Geo-Object Types in the CGR.    
  - name: Hierarchy
    description: Operations to interact with Hierarchical relationship type definitions in the CGR.            
  - name: Directed Acyclic Graph
    description: Operations to interact with Directed Acyclic Graph Type definitions in the CGR.    
  - name: Undirected Graph
    description: Operations to interact with Undirected Graph Type definitions in the CGR.        
  - name: Geo-Object
    description: Operations to interact with Geo-Objects in the CGR. A Geo-Object represents the most current version of the object while Geo-Object-Over-Time has values for all available time ranges.
  - name: Geo-Object-Over-Time
    description: Operations to interact with Geo-Objects-Over-Time in the CGR. A Geo-Object represents the most current version of the object while Geo-Object-Over-Time has values for all available time ranges.
  - name: List
    description: Operations to interact with List definitions and entries in the CGR.    
servers:
  - url: 'https://demo-georegistry.geoprism.net/'
paths:
  '/cgr/geoobject/get':
    $ref: 'paths/geoobject@get.yaml'
  '/cgr/geoobject/update':
    $ref: 'paths/geoobject@put.yaml'
  '/cgr/geoobject/create':
    $ref: 'paths/geoobject@post.yaml'
  '/cgr/geoobject/newGeoObjectInstance':
    $ref: 'paths/geoobject@post-empty.yaml'
  '/cgr/geoobject/get-code':
    $ref: 'paths/geoobject@get-code.yaml'
  '/cgr/geoobject/getchildren':
    $ref: 'paths/geoobject@getchildren.yaml'
  '/cgr/geoobject/get-parent-geoobjects':
    $ref: 'paths/geoobject@get-parent-geoobjects.yaml'
  '/cgr/geoobject/addchild':
    $ref: 'paths/geoobject@post-add-child.yaml'
  '/cgr/geoobject/removechild':
    $ref: 'paths/geoobject@post-remove-child.yaml'
  '/cgr/geoobject/get-uids':
    $ref: 'paths/geoobject@get-uids.yaml'

  # '/cgr/geoobject-time/get':
  #   $ref: 'paths/geoobject-time@get.yaml'
  '/cgr/geoobject-time/get-code':
    $ref: 'paths/geoobject-time@get-code.yaml'
  '/cgr/geoobject-time/update':
    $ref: 'paths/geoobject-time@post-update.yaml'
  '/cgr/geoobject-time/create':
    $ref: 'paths/geoobject-time@post-create.yaml'

  '/geoobject-editor/createGeoObject':
    $ref: 'paths/geoobject-time@post-create-geo-object.yaml'    

  '/cgr/geoobjecttype/get-all':
    $ref: 'paths/geoobjecttype@get-all.yaml'

  '/cgr/import-types':
    $ref: 'paths/geoobjecttype@import-types.yaml'    

  '/cgr/hierarchytype/get-all':
    $ref: 'paths/hierarchytype@get-all.yaml'

  '/cgr/list/data':
    $ref: 'paths/list@data.yaml'

  '/directed-graph-type/get-all':
    $ref: 'paths/directed-graph-type@get-all.yaml'
  '/directed-graph-type/create':
    $ref: 'paths/directed-graph-type@create.yaml'
  '/directed-graph-type/update':
    $ref: 'paths/directed-graph-type@update.yaml'
  '/directed-graph-type/remove':
    $ref: 'paths/directed-graph-type@remove.yaml'
  '/directed-graph-type/get':
    $ref: 'paths/directed-graph-type@get.yaml'

  '/undirected-graph-type/get-all':
    $ref: 'paths/undirected-graph-type@get-all.yaml'    
  '/undirected-graph-type/create':
    $ref: 'paths/undirected-graph-type@create.yaml'
  '/undirected-graph-type/update':
    $ref: 'paths/undirected-graph-type@update.yaml'
  '/undirected-graph-type/remove':
    $ref: 'paths/undirected-graph-type@remove.yaml'
  '/undirected-graph-type/get':
    $ref: 'paths/undirected-graph-type@get.yaml'

  '/cgr/orgainizations/get-all':
    $ref: 'paths/organization@get-all.yaml'            
  '/cgr/orgainization/create':
    $ref: 'paths/organization@post-create.yaml'        
  '/cgr/orgainization/update':
    $ref: 'paths/organization@post-update.yaml'        
  '/cgr/orgainization/delete':
    $ref: 'paths/organization@post-delete.yaml'   

  '/geoobject/get-all':
    $ref: 'paths/geoobject@get-all.yaml'

  '/dag/get-children':
    $ref: 'paths/dag@get-graph-children.yaml'            
  '/dag/get-parents':
    $ref: 'paths/dag@get-graph-parents.yaml'    
  '/dag/add-child':
    $ref: 'paths/dag@post-add-graph-child.yaml'    
  '/dag/remove-child':  
    $ref: 'paths/dag@post-remove-graph-child.yaml'    

  '/undirected/get-related-geo-objects':  
    $ref: 'paths/undirected@get-related-geo-objects.yaml'        
  '/undirected/add-related-geo-object':
    $ref: 'paths/undirected@post-add-related-geo-object.yaml'            
  '/undirected/remove-related-geo-object':
    $ref: 'paths/undirected@post-remove-related-geo-object.yaml'        
         
components:
  securitySchemes:
    Basic Authentication:
      type: http
      scheme: basic
      description: GeoPrism Registry uses basic authentication over HTTPS. To authenticate against the API you must include a base64 encoded hash in the request header. A simple way to create the hash is to encode the username and password of an existing user as username:password using a tool like https://www.base64encode.org/.
security:
  - Basic Authentication: [Super Registry Administrator, (organization) Registry Administrator, (geoobjecttype) Registry Maintainer, (geoobjecttype) Registry Contributor]  # <-- use the same name here
