openapi: 3.0.2
info:
  version: 1.0.0
  title: GeoPrism Registry REST API
  # termsOfService: 'https://example.com/terms/'
  # contact:
    # name: Contact
    # email: info@terraframe.com
    # url: '/'
  # license:
  #   name: GPL
  #   url: 'https://opensource.org/licenses/gpl-license'
  x-logo:
    url: './cgr_logo.png'
  description: >
    The GeoPrism Registry API provides programatic access to core functionality.
externalDocs:
  description: User documentation
  url: 'https://terraframe-inc.gitbook.io/geoprism-registry-documentation/'
tags:
  - name: Geo-Object
    description: Operations to interact with Geo-Objects. A Geo-Object represents the most current version of the object while Geo-Object-Over-Time has values for all available time ranges.
  - name: Geo-Object-Over-Time
    description: Operations to interact with Geo-Objects-Over-Time. A Geo-Object represents the most current version of the object while Geo-Object-Over-Time has values for all available time ranges.
  - name: Geo-Object Type
    description: Operations to interact with Geo-Object Types.
  - name: Hierarchy
    description: Operations to interact with hierarchies.
  - name: List
    description: Operations to interact with Lists.
  - name: ETL
    description: Operations for bulk importing data.
servers:
  - url: 'https://demo-georegistry.geoprism.net/'
paths:
  '/cgr/geoobject/get':
    $ref: 'paths/geoobject@get.yaml'
  '/cgr/geoobject/update':
    $ref: 'paths/geoobject@put.yaml'
  '/cgr/geoobject/create':
    $ref: 'paths/geoobject@post.yaml'
  '/cgr/geoobject/newGeoObjectInstance':
    $ref: 'paths/geoobject@post-empty.yaml'
  '/cgr/geoobject/get-code':
    $ref: 'paths/geoobject@get-code.yaml'
  '/geoobject/get-all':
    $ref: 'paths/geoobject@get-all.yaml'
  '/cgr/geoobject/getchildren':
    $ref: 'paths/geoobject@getchildren.yaml'
  '/cgr/geoobject/get-parent-geoobjects':
    $ref: 'paths/geoobject@get-parent-geoobjects.yaml'
  '/cgr/geoobject/addchild':
    $ref: 'paths/geoobject@post-add-child.yaml'
  '/cgr/geoobject/removechild':
    $ref: 'paths/geoobject@post-remove-child.yaml'
  '/cgr/geoobject/get-uids':
    $ref: 'paths/geoobject@get-uids.yaml'
  # '/cgr/geoobject-time/get':
  #   $ref: 'paths/geoobject-time@get.yaml'
  '/cgr/geoobject-time/get-code':
    $ref: 'paths/geoobject-time@get-code.yaml'
  '/cgr/geoobject-time/update':
    $ref: 'paths/geoobject-time@post-update.yaml'
  '/cgr/geoobject-time/create':
    $ref: 'paths/geoobject-time@post-create.yaml'
  '/cgr/geoobjecttype/get-all':
    $ref: 'paths/geoobjecttype@get-all.yaml'
  '/cgr/hierarchytype/get-all':
    $ref: 'paths/hierarchytype@get-all.yaml'
  '/cgr/list/data':
    $ref: 'paths/list@data.yaml'
  '/etl/import-edge-json':
    $ref: 'paths/etl@import-edge-json.yaml'
components:
  securitySchemes:
    Basic Authentication:
      type: http
      scheme: basic
      description: GeoPrism Registry uses basic authentication over HTTPS. To authenticate against the API you must include a base64 encoded hash in the request header. A simple way to create the hash is to encode the username and password of an existing user as username:password using a tool like https://www.base64encode.org/.
security:
  - Basic Authentication: [Super Registry Administrator, (organization) Registry Administrator, (geoobjecttype) Registry Maintainer, (geoobjecttype) Registry Contributor]  # <-- use the same name here
